.globalImg {
  width: 100%;
  height: auto;
}

.globalColor {
  color: #00695c;
}

.globalButton {
  border-radius: 20px !important;
  background-color: #00695c !important;
  border: none !important;
  color: white !important;
  padding: 10px 25px !important;
  font-size: 13px !important;
}

.pages {
  width: 35%;
}
.pages .pagination .page-item .page-link {
  border: 1px solid #dee2e6;
}
.pages .pagination .page-item.active .page-link {
  background-color: #4285f4;
}

@media screen and (min-width: 768px) {
  .globalImg {
    width: 100%;
    height: 250px;
  }
  .carouselItems {
    transform: translate(0%, -30%);
  }
  .carouselMain {
    height: 530px;
  }
}
